.src:before {
  color: black;
}
.src, .example {
  color: white;
  background: #272822; /* #1d1e19; */
  overflow-x: auto;
  max-width: 48.5em;
}
.org-src-container, .example {
  font-size: 11pt;
}
.org-src-container pre, .example {
  padding: .5rem;
}
p {
  max-width: 730px;
}
#text-footnotes {
  padding-top: 1rem;
}
.footpara p {
  margin-top: 0;
}

blockquote {
  margin-left: 2em;
}

a:link,
a:visited {
    color: #a00000;
}
