<head>
  <meta charset="utf-8" />
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>blorg.ericb.me - $title$</title>
  <link rel="stylesheet" type="text/css" href="/css/tufte.css" />
  <link href="//fonts.googleapis.com/css?family=Lato:400,400italic" rel="stylesheet" type="text/css" />
  <link href="/index.atom" rel="alternate" title="atom" type="application/atom+xml">
  <script type="text/javascript" src="//cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
  <script src="https://use.fontawesome.com/668158b00e.js"></script>
</head>
